<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de tarefa</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Essa Semana</h1>
    <div class="actual-week">
        <div class="day" id="d_segunda">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="segunda" disabled />
                <label for="segunda" class="check-box">
            </div>
            <h3>Segunda-feira</h3>
            <p>
                <input type="radio" class="r_feito" name="r_segunda">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_segunda">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_terca">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="terca" disabled/>
                <label for="terca" class="check-box">
            </div>
            <h3>Terça-feira</h3>
            <p>
                <input type="radio" class="r_feito" name="r_terca">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_terca">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_quarta">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="quarta" disabled/>
                <label for="quarta" class="check-box">
            </div>
            <h3>Quarta-feira</h3>
            <p>
                <input type="radio" class="r_feito" name="r_quarta">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_quarta">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_quinta">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="quinta" disabled/>
                <label for="quinta" class="check-box">
            </div>
            <h3>Quinta-feira</h3>
            <p>
                <input type="radio" class="r_feito" name="r_quinta">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_quinta">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_sexta">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="sexta" disabled/>
                <label for="sexta" class="check-box">
            </div>
            <h3>Sexta-feira</h3>
            <p>
                <input type="radio" class="r_feito" name="r_sexta">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_sexta">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_sabado">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="sabado" disabled/>
                <label for="sabado" class="check-box">
            </div>
            <h3>Sábado</h3>
            <p>
                <input type="radio" class="r_feito" name="r_sabado">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_sabado">
                <span>Não Feito</span>
            </p>
        </div>
        <div class="day" id="d_domingo">
            <div class="checkbox-wrapper-19">
                <input type="checkbox" id="domingo" disabled/>
                <label for="domingo" class="check-box">
            </div>
            <h3>Domingo</h3>
            <p>
                <input type="radio" class="r_feito" name="r_domingo">
                <span>Feito</span>
            </p>
            <p>
                <input type="radio" class="r_nao_feito" name="r_domingo">
                <span>Não Feito</span>
            </p>
        </div>
    </div>
    <div class="star-area">
        <div class="star-line">
            <img src="../static/images/star.png" alt="Estrela" id="star">
            <span id="star-count">2</span>
        </div>
    </div>
    <h1 id="promessa">Não vou mais beber!</h1>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>